# Core functionality - changes here should be rare!
/src/app.py                   @ehess98
/src/backend/database.py      @ehess98
/src/backend/routers/auth.py  @ehess98

# The frontend will need refactored soon to be more object oriented.
/src/static/   @ehess98
